<!--================Cart Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <style>
          .swal-wide {
            font-size: 1.4rem !important;
          }
        </style>
        <script>
          function confirmRemove(e) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to undo this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, remove all!',
              customClass: 'swal-wide'
            }).then((result) => {
              if (result.isConfirmed) {
                document.getElementById('delete-all-product').submit()
              }
            })

            e.preventDefault();
          }
        </script>

        <table class="table">
          <thead>
            <tr>
              <th scope="col" width=100>Product Image</th>
              <th scope="col" width=320>Product Name</th>
              <th scope="col" width=80>Price</th>
              <th scope="col" width=80>Quantity</th>
              <th scope="col" width=80>Total</th>
              <th scope="col" width=120>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#if cart}}
            {{#each cart.products}}
            <tr>
              <td style="vertical-align: middle">
                <div class="media">
                  <div class="d-flex">
                    <a href="products/{{this.id}}"> <img style="width: 10rem" src={{this.image_url}} alt=""></a>
                  </div>
                  {{!-- <div class="media-body"> --}}
                    {{!-- <p style="margin-top: 10px;margin-bottom: 0px">{{this.name}}</p> --}}
                    {{!-- </div> --}}
                </div>
              </td>
              <td style="vertical-align: middle">
                <h5>{{this.name}}</h5>
              </td>
              <td style="vertical-align: middle">
                <h5>{{this.price}}</h5>
              </td>
              <td style="vertical-align: middle">
                <h5>x {{this.quantity}}</h5>
              </td>
              <td style="vertical-align: middle">
                <h5>
                  <script>
                    var total = {{ this.price }} * {{ this.quantity }}
                    document.write(total);
                  </script>
                </h5>
              </td>
              <td style="vertical-align: middle; padding-left:75px">
                <form id="delete-product" action="/cart/{{this.id}}" method="POST" enctype="multipart/form-data">
                  <button type="submit"><i class="fa fa-trash"></i></button>
                </form>
              </td>
            </tr>
            {{/each}}
            {{/if}}
            <tr class="bottom_button">
              <td>
                <form id="delete-all-product" action="/cart" method="POST" enctype="multipart/form-data">
                  <a onclick="confirmRemove(event)" class="button" style="margin-right:-28px" href="#">REMOVE ALL</a>
                </form>
              </td>
              <td>
              <td></td>
              </td>
              <td style="vertical-align: middle;">
                <h5>Subtotal</h5>
              </td>
              <td>
                {{#if cart}}
                <h5>{{cart.cost_total}}</h5>
                {{else}}
                <h5>0</h5>
                {{/if}}
              </td>
              <td>

              </td>
            </tr>
            <tr class="out_button_area">
              <td class="d-none-l">

              </td>
              <td class="d-none-l">

              </td>
              <td class="">

              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="checkout_btn_inner d-flex align-items-center">
                  <a class="gray_btn" href="/products">Continue shopping</a>
                  <a href="#" style="color: inherit;
                                       text-decoration: none;">
                    <button style="margin-top:10px;font-size:17px; padding:5px 10px 5px 10px" type="submit"
                      class="primary-btn ml-2">Checkout</button>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->