<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">

          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="profile" href="https://gmpg.org/xfn/11">
          <link rel="pingback" href="https://mazano.kutethemes.net/xmlrpc.php">
          <script>
              document.documentElement.className = document.documentElement.className + ' yes-js js_active js'
          </script>
          <title>Book Market</title>
          <meta name="robots" content="max-image-preview:large">
          <link rel="alternate" type="application/rss+xml" title="Mazano » Feed" href="https://mazano.kutethemes.net/feed/">
          <link rel="alternate" type="application/rss+xml" title="Mazano » Comments Feed" href="https://mazano.kutethemes.net/comments/feed/">
          <link rel="alternate" type="application/rss+xml" title="Mazano » Products Feed" href="https://mazano.kutethemes.net/shop/feed/">
          <link rel="stylesheet" href="https://mazano.b-cdn.net/wp-content/cache/minify/597de.css" media="all">
          <link rel="icon" href="/images/logo.png" type="image/png">
          <style id="woocommerce-inline-inline-css">
              .woocommerce form .form-row .required {
                  visibility: visible;
              }
          </style>
          <link rel="stylesheet" href="https://mazano.b-cdn.net/wp-content/cache/minify/4ac1b.css" media="all">
          <style id="yith-quick-view-inline-css">
              #yith-quick-view-modal .yith-wcqv-main {
                  background: #ffffff;
              }

              #yith-quick-view-close {
                  color: #cdcdcd;
              }

              #yith-quick-view-close:hover {
                  color: #ff0000;
              }
          </style>
          <link rel="stylesheet" href="https://mazano.b-cdn.net/wp-content/cache/minify/80be4.css" media="all">
          <link rel="stylesheet" id="mazano-google-fonts-css" href="//fonts.googleapis.com/css?family=Open%20Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic%7CShadows%20Into%20Light%7CYellowtail&amp;display=swap" type="text/css" media="all">
          <link rel="stylesheet" href="https://mazano.b-cdn.net/wp-content/cache/minify/38a70.css" media="all">
          <style id="font-awesome-inline-css">
                  [data-font="FontAwesome"]:before {
                      font-family: 'FontAwesome' !important;
                      content: attr(data-icon) !important;
                      speak: none !important;
                      font-weight: normal !important;
                      font-variant: normal !important;
                      text-transform: none !important;
                      line-height: 1 !important;
                      font-style: normal !important;
                      -webkit-font-smoothing: antialiased !important;
                      -moz-osx-font-smoothing: grayscale !important;
                  }
              </style>
          <link rel="stylesheet" href="https://mazano.b-cdn.net/wp-content/cache/minify/84bf7.css" media="all">
          <script src="https://mazano.b-cdn.net/wp-content/cache/minify/63ce2.js"></script>
          <script id="wc-add-to-cart-js-extra">
              var wc_add_to_cart_params = {
                  "ajax_url": "\/wp-admin\/admin-ajax.php",
                  "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
                  "i18n_view_cart": "View cart",
                  "cart_url": "https:\/\/mazano.kutethemes.net\/cart\/",
                  "is_cart": "",
                  "cart_redirect_after_add": "no"
              };
          </script>
          <script src="https://mazano.b-cdn.net/wp-content/cache/minify/1fb96.js"></script>
          <link rel="https://api.w.org/" href="https://mazano.kutethemes.net/wp-json/">
          <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://mazano.kutethemes.net/xmlrpc.php?rsd">
          <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://mazano.b-cdn.net/wp-includes/wlwmanifest.xml">
          <meta name="generator" content="WordPress 5.8.1">
          <meta name="generator" content="WooCommerce 5.8.0">
          <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
          <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress.">
          <style data-type="kt_template_shortcodes_custom_css">.vc_custom_1470186420787{padding-top: 90px !important;padding-bottom: 90px !important;}.vc_custom_1470189365498{padding-top: 75px !important;}.vc_custom_1470213740637{margin-bottom: 51px !important;}.vc_custom_1470188955260{margin-top: 70px !important;}</style>
          <style id="kt-theme-color">
              body a,
              body .text-primary,
              .main-menu>li:hover>a,
              .main-menu>li.active>a,
              .main-menu .sub-menu>li:hover>a,
              .main-menu .sub-menu>li.active>a,
              .shop-control .display-mode:hover,
              .shop-control .display-mode.active,
              .product-item .price,
              .summary .yith-wcwl-add-to-wishlist>div a:hover,
              .summary .compare:hover,
              .blog-item .post-title:hover a,
              .blog-item .post-metas a:hover,
              .comment-item .comment-body .reply a:hover,
              .kt_latest_posts_widget .post-item-text>h4 a:hover,
              .tagcloud a:hover,
              .product-item .product-name a:hover,
              .product-item .product-cat a:hover,
              .widget_product_categories .cat-item:hover>a,
              .widget_layered_nav li:hover>a,
              .widget_product_categories li.current-cat>a,
              .widget_product_categories li.current-cat-parent>a,
              .account-menu li>a:hover,
              .account-menu li.active>a,
              .account-menu .menu-item-language-current>a,
              .widget_categories .cat-item a:hover,
              .widget_archive li a:hover,
              .widget_pages li a:hover,
              .widget_meta li a:hover,
              .widget_nav_menu li a:hover,
              .nav-style2 .owl-prev:hover,
              .nav-style2 .owl-next:hover,
              .kt_single_banner.flexible .shortcode-url a:hover,
              .kt_blog.default .post-info h5.post-title a:hover,
              .kt_blog.default .post-info .incategory a:hover,
              .kt_blog.default .post-info .read-more a:hover,
              .kt_featured_box.layout1:hover .shortcode-icon,
              .topbar-menu>li:hover>a,
              .topbar-menu>li.active>a,
              .topbar-menu .sub-menu>li:hover>a,
              .topbar-menu .sub-menu>li.active>a,
              .kt_single_banner.default .banner-content .link:hover,
              .kt_single_banner.layout2 .banner-content .link:hover,
              .kt_single_banner.layout3 .link:hover,
              .section-latestblog.style2 .post-title:hover a,
              .section-latestblog.style2 .read-more:hover,
              .kt_featured_box.layout2:hover .shortcode-icon,
              .section-latestblog.style3 .post-title:hover a,
              .section-latestblog.style3 .read-more:hover,
              .section-latestblog.style4 .post-title a:hover,
              .section-latestblog.style4 .read-more:hover,
              .kt_single_banner.layout6 .link:hover,
              .kt_single_banner.layout7 .link:hover,
              .menu-inline .widget_nav_menu .menu li>a:hover,
              .footer-bottom-link a:hover,
              .main-menu-vertical>li:hover>a,
              .main-menu-vertical>li.active>a,
              .main-menu-vertical .sub-menu>li:hover>a,
              .main-menu-vertical .sub-menu>li.active>a,
              .text-block-2 .link:hover,
              .section-latestblog.style5 .post-title:hover a,
              .owl-carousel .owl-prev:hover,
              .owl-carousel .owl-next:hover,
              .section-latestblog.style5 .owl-nav .owl-prev:hover,
              .section-latestblog.style5 .owl-nav .owl-next:hover,
              .text-block-4 .link:hover,
              .sticky-post,
              .header.style8 .main-menu>li:hover>a,
              .header.style8 .main-menu>li.active>a,
              .header.style8 .main-menu .sub-menu>li:hover>a,
              .header.style8 .login-link:hover,
              .header.style8 .minicart-content .product-item .amount,
              .header.style8 .login-link li a:hover,
              .header.style7 .main-menu .sub-menu>li:hover>a,
              .header.style7 .main-menu .sub-menu>li.active>a,
              .header.style7 .widget_categories .cat-item a:hover,
              .header.style7 .widget_archive li a:hover,
              .header.style7 .widget_pages li a:hover,
              .header.style7 .widget_meta li a:hover,
              .header.style7 .widget_nav_menu li a:hover,
              .header.style8 .megamenu .widget_categories .cat-item a:hover,
              .header.style8 .megamenu .widget_archive li a:hover,
              .header.style8 .megamenu .widget_pages li a:hover,
              .header.style8 .megamenu .widget_meta li a:hover,
              .header.style8 .megamenu .widget_nav_menu li a:hover,
              .header.style8 .main-menu .sub-menu>li>a:hover,
              .header.style9 .accountmenu .sub-menu>li.active>a,
              .header.style9 .accountmenu .sub-menu>li:hover>a,
              .header.style9 .accountmenu>li:hover>a,
              .header.style9 .accountmenu>li.active>a,
              .button.border-white:hover,
              .block-filter li>a:hover,
              .block-filter li>a.selected,
              .block-filter li>a:hover:before,
              .block-filter li>a.selected:before,
              .kt_woocommerce_filter.default .load-more-wapper .load-more:hover,
              .border-gray:hover,
              .footer.style16 .widget_categories .cat-item a:hover,
              .footer.style16 .widget_archive li a:hover,
              .footer.style16 .widget_pages li a:hover,
              .footer.style16 .widget_meta li a:hover,
              .footer.style16 .widget_nav_menu li a:hover,
              .header.style13 .login-link .sub-menu>li>a:hover,
              .kt_woocommerce_filter.layout1 .list-category li a.selected,
              .kt_woocommerce_filter.layout1 .list-category li a:hover,
              .kt_single_banner.layout19 .link:hover,
              table .product-price,
              .product-item .product-item-style7:hover .price,
              .product-item-style7:hover .price ins,
              .kt_countdown.layout1 .box-count .text,
              .kt_countdown.layout1 .shortcode-url a:hover,
              .section-latestblog.style8 .post-title a:hover,
              .footer.style19 .widget_categories .cat-item a:hover,
              .footer.style19 .widget_archive li a:hover,
              .footer.style19 .widget_pages li a:hover,
              .footer.style19 .widget_meta li a:hover,
              .footer.style19 .widget_nav_menu li a:hover,
              .footer.style19 .kt_social.default>a:hover,
              .kt_single_banner.layout20 .product-item .price del,
              .text-block-5 .title>span:first-child,
              .kt_megacategories.layout5 .tabs .title>span:first-child,
              .kt_blog.style9 .post-title a:hover,
              .kt_blog.style9 .read-more:hover,
              .footer.style21 .widget_categories .cat-item a:hover,
              .footer.style21 .widget_archive li a:hover,
              .footer.style21 .widget_pages li a:hover,
              .footer.style21 .widget_meta li a:hover,
              .footer.style21 .widget_nav_menu li a:hover,
              .footer.style21 .kt_social.default>a:hover,
              .kt_single_banner.layout22 .link:hover,
              .kt_blog.style10 .item-post .cat a:hover,
              .kt_blog.style10 .item-post .post-title a:hover,
              .kt_featured_box.layout5 .shortcode-icon,
              .product_list_widget .woocommerce-Price-amount,
              .summary .price {
                  color: #ff7a5f;
              }

              .kt_social.default>a:hover {
                  border-color: #ff7a5f;
                  background-color: #ff7a5f;
              }

              .added_to_cart,
              .button,
              .submit,
              input[type="submit"],
              .product-item .yith-wcqv-button:hover,
              .product-item .group-buttons .button:hover,
              .product-item .group-buttons .yith-wcwl-add-to-wishlist>div a:hover,
              .product-item .group-buttons .compare:hover,
              .product-item:hover .group-buttons .added_to_cart:hover,
              .blog-item .post-date,
              .scroll_top,
              .widget_price_filter .ui-widget-header,
              .widget_price_filter .ui-slider-handle,
              .header .mini-cart .cart-link .icon .count,
              .kt_megacategories.boostrap_layout .tabs .tab-list li a:before,
              table.cart .remove:hover,
              .woocommerce-form-cart .actions .button:hover,
              .bg-text.primary,
              .button.primary:hover,
              .footer .frm-mailchimp-container .btn-submit,
              .kt_megacategories.layout1 .tabs .tab-list li a:after,
              .toggle-menu-bar.active>span,
              .header-socials a:hover,
              .kt_megacategories.layout2 .tab-list li>a:after,
              .section-latestblog.style3 .post-date,
              .section-latestblog.style4 .category a,
              .kt_featured_box.layout3:hover,
              .kt_single_banner.layout8 .link:hover,
              .kt_megacategories.layout3 .tab-list li a:after,
              .page-links a:hover,
              .page-links>span,
              .item-skill .skill-width,
              .kt-popup-newsletter .label-text,
              .kt-popup-newsletter .submit-newsletter:hover,
              .header.style8 .minicart-content .button:hover,
              .header.style9 .box-search .button-search,
              .header.style10 .main-menu>li>a:before,
              .kt_megacategories.layout4 .tabs .tab-list li>a:after,
              .kt_single_banner.layout13 .shortcode-content:before,
              .kt_woocommerce_filter.default .head .list-category a:after,
              .block-filter.filter-tags li a:after,
              .button.black:hover,
              .kt_single_banner.layout18 .link:hover,
              .kt_woocommerce_filter.layout1 .list-category li a:after,
              .product-item .status .inner>.featured-flash,
              .kt_testimonial.layout3 .owl-dots .owl-dot.active,
              .section-latestblog.style8 .read-more:hover,
              .kt_single_banner.layout20 .percent,
              .bar-category,
              .kt_single_banner.layout21 .link:hover,
              .kt_megacategories.layout5 .tabs .title>span:first-child:after,
              .product-item-style9 .status .inner>.percent,
              .kt_blog.style10 .item-post:hover .read-more {
                  background-color: #ff7a5f;
              }

              body blockquote,
              .tagcloud a:hover,
              .nav-style2 .owl-prev:hover,
              .nav-style2 .owl-next:hover,
              .mobile-navigation,
              .header-socials a:hover,
              .kt_megacategories.layout2 .tabs .title,
              .section-latestblog.style3 .section-heading .title,
              .kt_call_to_action.layout2 .label-text,
              .kt_banner.default .shortcode-title .title,
              .text-underline,
              .page-links a:hover,
              .page-links>span,
              .header.style8 .minicart-content .button:hover,
              .button.border-white:hover,
              .kt_single_banner.layout13 .post-id,
              .nav-style3 .owl-prev:hover,
              .nav-style3 .owl-next:hover,
              .kt_woocommerce_filter.default .load-more-wapper .load-more:hover,
              .border-gray:hover,
              .product-item-style6:hover,
              .footer.style18 .kt_newsletter.layout1 .frm-mailchimp-container input.email,
              .section-latestblog.style8 .read-more:hover,
              .kt_single_banner.layout21 .link:hover,
              .product-item-style8 .group-buttons .button:hover,
              .product-item-style8 .group-buttons .yith-wcwl-add-to-wishlist>div a:hover,
              .product-item-style8 .group-buttons .compare:hover,
              .product-item-style8 .group-buttons .added_to_cart:hover,
              .kt_blog.style10 .item-post:hover .read-more {
                  border-color: #ff7a5f;
              }

              .kt-popup-newsletter .label-text:before {
                  border-color: #ff7a5f transparent transparent transparent;
              }

              .growl.growl-notice {
                  background: #75b8b9;
                  color: #ffffff;
              }
          </style>
          <script>
              var default_countdown_labels = ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Min', 'Sec'],
                  default_countdown_layout = '<span class=box-count><span class=number>{dnn}</span><span class=text>Days</span></span><span class=box-count><span class=number>{hnn}</span> <span class=text>Hrs</span></span><span class=box-count><span class=number>{mnn}</span> <span class=text>Min</span></span><span class=box-count><span class=number>{snn}</span> <span class=text>Sec</span></span>';
          </script>
          <style id="wp-custom-css">
              .product-item .product-cat {
                  font-size: 0;
              }

              .product-item .product-cat a {
                  font-size: 18px;
              }

              .product-item .product-cat a:nth-child(2)::before {
                  content: ',';
                  display: inline-block;
                  font-size: 18px;
                  margin-right: 5px;
                  color: #aaaaaa;
                  margin-left: 2px;
              }

              .product-item .product-cat a:not(:first-child):not(:nth-child(2)),
              .product-item .product-cat a:not(:first-child):not(:nth-child(2))::after {
                  font-size: 0;
                  display: none;
                  margin: 0;
              }
          </style>
          <script>
              var woocs_is_mobile = 0;
              var woocs_special_ajax_mode = 0;
              var woocs_drop_down_view = "ddslick";
              var woocs_current_currency = {
                  "name": "USD",
                  "rate": 1,
                  "symbol": "&#36;",
                  "position": "right",
                  "is_etalon": 1,
                  "description": "USA dollar",
                  "hide_cents": 0,
                  "hide_on_front": 0,
                  "flag": ""
              };
              var woocs_default_currency = {
                  "name": "USD",
                  "rate": 1,
                  "symbol": "&#36;",
                  "position": "right",
                  "is_etalon": 1,
                  "description": "USA dollar",
                  "hide_cents": 0,
                  "hide_on_front": 0,
                  "flag": ""
              };
              var woocs_redraw_cart = 1;
              var woocs_array_of_get = '{}';

              woocs_array_no_cents = '["JPY","TWD"]';

              var woocs_ajaxurl = "https://mazano.kutethemes.net/wp-admin/admin-ajax.php";
              var woocs_lang_loading = "loading";
              var woocs_shop_is_cached = 0;
          </script>
          <style></style><noscript><style>.wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
          <style data-type="kt_megamenu_shortcodes-custom-css">.vc_custom_1475119511085{padding-top: 30px !important;padding-right: 30px !important;padding-bottom: 100px !important;padding-left: 30px !important;background-image: url(https://mazano.b-cdn.net/wp-content/uploads/2016/09/mega-background.jpg) !important;background-position:
              center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1476784826310{background-image: url(https://mazano.b-cdn.net/wp-content/uploads/2016/09/27-1.jpg) !important;background-position: center !important;background-repeat:
              no-repeat !important;background-size: cover !important;}.vc_custom_1476784916458{padding-top: 0px !important;}.vc_custom_1475119258229{padding-top: 30px !important;padding-right: 30px !important;padding-bottom: 30px !important;padding-left: 30px
              !important;}.vc_custom_1475119315669{padding: 30px !important;}</style>
          <style id="css-ddslick" type="text/css">
              .dd-select {
                  border-radius: 2px;
                  border: solid 1px #ccc;
                  position: relative;
                  cursor: pointer;
              }

              .dd-desc {
                  color: #aaa;
                  display: block;
                  overflow: hidden;
                  font-weight: normal;
                  line-height: 1.4em;
              }

              .dd-selected {
                  overflow: hidden;
                  display: block;
                  padding: 10px;
                  font-weight: bold;
              }

              .dd-pointer {
                  width: 0;
                  height: 0;
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  margin-top: -3px;
              }

              .dd-pointer-down {
                  border: solid 5px transparent;
                  border-top: solid 5px #000;
              }

              .dd-pointer-up {
                  border: solid 5px transparent !important;
                  border-bottom: solid 5px #000 !important;
                  margin-top: -8px;
              }

              .dd-options {
                  border: solid 1px #ccc;
                  border-top: none;
                  list-style: none;
                  box-shadow: 0px 1px 5px #ddd;
                  display: none;
                  position: absolute;
                  z-index: 2000;
                  margin: 0;
                  padding: 0;
                  background: #fff;
                  overflow: auto;
              }

              .dd-option {
                  padding: 10px;
                  display: block;
                  border-bottom: solid 1px #ddd;
                  overflow: hidden;
                  text-decoration: none;
                  color: #333;
                  cursor: pointer;
                  -webkit-transition: all 0.25s ease-in-out;
                  -moz-transition: all 0.25s ease-in-out;
                  -o-transition: all 0.25s ease-in-out;
                  -ms-transition: all 0.25s ease-in-out;
              }

              .dd-options>li:last-child>.dd-option {
                  border-bottom: none;
              }

              .dd-option:hover {
                  background: #f3f3f3;
                  color: #000;
              }

              .dd-selected-description-truncated {
                  text-overflow: ellipsis;
                  white-space: nowrap;
              }

              .dd-option-selected {
                  background: #f6f6f6;
              }

              .dd-option-image,
              .dd-selected-image {
                  vertical-align: middle;
                  float: left;
                  margin-right: 5px;
                  max-width: 64px;
              }

              .dd-image-right {
                  float: right;
                  margin-right: 15px;
                  margin-left: 5px;
              }

              .dd-container {
                  position: relative;
              }
          </style>
</head>

    <body data-rsssl="1" class="archive post-type-archive post-type-archive-product theme-mazano woocommerce-shop woocommerce woocommerce-page woocommerce-js kt_used_header_6 Mazano-1.3.3 wpb-js-composer js-comp-ver-6.7.0 vc_responsive currency-usd">
  <!--================ Start Header Menu Area =================-->
	<!--<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><img src="/img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Cửa hàng</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/products">Sản phẩm</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart.html">Giỏ hàng</a></li>
                  {{#if user}}
                    <li class="nav-item"><a class="nav-link" href="checkout.html">Thanh toán</a></li>
                    <li class="nav-item"><a class="nav-link" href="/confirmation">Xác nhận đơn hàng</a></li>
                    <li class="nav-item"><a class="nav-link" href="tracking-order.html">Theo dõi đơn hàng</a></li>
                  {{/if}}
                </ul>
							</li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><i class="ti-search"></i></button></li>
              <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
{{!--               <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li> --}}
            </ul>
            {{#if user}}
            <a class="button button-login-header" href="/account/{{user._id}}">Hello, {{user.username}}</a>
            <a class="button button-login-header" href="/logout">Đăng xuất</a>
            {{else}}
            <a class="button button-login-header" href="/login">Đăng nhập</a>
            {{/if}}
          </div>
        </div>
      </nav>
    </div>
  </header>-->
  <!--<section id="head">
  <div class="header">
     <div class="container-fluid">
              <a href="/"><p>Welcome to our online book store!</p></a>
              <ul>
                <li><a href="#" data-toggle="model" data-target="#myModel"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="container2">
              <input type="text" placeholder="Search...">
              <div class="search"></div>
            </div>
  </div>
  </section>-->
  <div id="yith-wcwl-popup-message" style="display: none;">
          <div id="yith-wcwl-message"></div>
      </div>
      <div id="header" class="header style6">
              <div class="main-header">
                  <div class="container-wapper">
                      <div class="main-menu-wapper">
                          <div class="header-inner">
                              <div class="row margin-0 header-top">
                                  <div class="col-sm-3 hidden-lg">
                                      <div class="logo clear-both">
                                          <a href="home.html"><img alt="Mazano" src="images/logo.png" class="_rw"></a>
                                      </div>
                                  </div>
                                  <div class="padding-0 col-lg-5 col-md-6 hidden-sm hidden-xs">
                                      <div class="header-main-menu clear-both">
                                          <a href="/"><img src=images/logo.png class=_rw></a>
                                      </div>
                                  </div>
                                  <div class="padding-0 col-lg-2 col-md-4 col-sm-3 hidden-md hidden-sm hidden-xs">
                                      <div class="logo clear-both">
                                      </div>
                                  </div>
                                  <div class="padding-0 col-lg-5 col-md-3 col-sm-7 col-xs-9">
                                      <div class="header-control clear-both">

                                          <div class="mini-cart mazano-mini-cart">
                                              <a class="cart-link" href="https://mazano.kutethemes.net/cart/">
                                                  <span class="icon">
              <span class="count">0</span>
                                                  </span>
                                                  <span class="text">Bag</span>
                                                  <span class="sub-total"><span class="woocs_special_price_code"><span class="woocommerce-Price-amount amount"><bdi>0.00<span class="woocommerce-Price-currencySymbol">$</span></bdi>
                                                  </span>
                                                  </span>
                                                  </span>
                                              </a>
                                          </div>
                                            {{#if user}}
                                          <a href="/account/{{user.id}}"><span class="icon-account flaticon-shape"><i style="font-size: 1.5rem">Hello, {{user.username}}</i></span></a>
                                          {{else}}
                                          <a href="/login"><span class="icon-account flaticon-shape"><small style="font-size: 1.5rem">Login</small></span></a>
                                          {{/if}}
{{!--  <span class="icon-account flaticon-shape"></span> --}}
                                          <span class="icon-search flaticon-magnifying-glass"></span>
                                          <div class="account-control">
                                              <div class="inner">
                                                  <span class="close-account-control"></span>
                                                  <ul id="menu-acount-menu" class="account-menu">
                                                      <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-315 menu-item-has-children"><a title="My Account" href="https://mazano.kutethemes.net/my-account/">My Account</a>
                                                          <ul role="menu" class=" sub-menu">
                                                              <li id="menu-item-316" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-316"><a href="https://mazano.kutethemes.net/my-account/">Login</a></li>
                                                              <li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a title="Wishlist" href="https://mazano.kutethemes.net/wishlist/">Wishlist</a></li>
                                                              <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a title="Checkout" href="https://mazano.kutethemes.net/checkout/">Checkout</a></li>
                                                          </ul>
                                                      </li>
                                                      <li id="menu-item-319" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-319 menu-item-has-children menu-item-currency-switcher">
                                                          <a href="#"></a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="search-control">
                                              <div class="inner">
                                                  <span class="close-search-control"></span>
                                                  <form method="get" action="home.html" class="box-search kt_wcajs">
                                                      <h3 class="title">Search Now !</h3>
                                                      <input type="hidden" name="post_type" value="product">
                                                      <div class="box-search-inner">
                                                          <input class="search-field kt_wcajs_input" value="" type="text" name="s" placeholder="Your search here..."></div>
                                                      <div class="kt_wcajs_result"></div>
                                                  </form>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-ts-12 col-xs-6 col-sm-6 col-md-2">
                                      <div class="logo clear-both logo-ontop">
                                          <a href="home.html"><img alt="Mazano" src="images/logo.png" class="_rw"></a>
                                      </div>
                                  </div>
                                  <!-- Chuyển đến trang thông tin nhóm. -->
                                  <div class="col-sm-6 col-md-8 hidden-sm hidden-xs ">
                                      <ul id="menu-main-menu" class="kt-nav main-menu clone-main-menu">
                                      </ul>
                                  </div>
                                  <!-- Chuyển đến trang thông tin nhóm. (end)-->
                                  <div class="col-ts-12 col-xs-6  col-sm-6 col-md-2">
                                      <div class="header-control header-control-ontop clear-both">
                                          <a href="#" class="mobile-navigation">
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                          </a>
                                          <div class="mini-cart">
                                              <a class="cart-link" href="https://mazano.kutethemes.net/cart/">
                                                  <span class="icon">
      <span class="count">0</span>
                                                  </span>
                                                  <span class="text">Bag</span>
                                                  <span class="sub-total"><span class="woocs_special_price_code"><span class="woocommerce-Price-amount amount"><bdi>0.00<span class="woocommerce-Price-currencySymbol">$</span></bdi>
                                                  </span>
                                                  </span>
                                                  </span>
                                              </a>
                                          </div>
                                          <span class="icon-account flaticon-shape">
                                          </span>
                                          <span class="icon-search flaticon-magnifying-glass"></span>
                                          <div class="account-control full-height">
{{!--                                               <div class="inner"> --}}
{{!--                                                   <span class="close-account-control"></span> --}}
{{!--                                                   <ul id="menu-acount-menu-1" class="account-menu"> --}}
{{!--                                                       <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-315 menu-item-has-children"><a title="My Account" href="https://mazano.kutethemes.net/my-account/">My Account</a> --}}
{{!--                                                           <ul role="menu" class=" sub-menu"> --}}
{{!--                                                               <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-316"><a href="https://mazano.kutethemes.net/my-account/">Login</a></li> --}}
{{!--                                                               <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a title="Wishlist" href="https://mazano.kutethemes.net/wishlist/">Wishlist</a></li> --}}
{{!--                                                               <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a title="Checkout" href="https://mazano.kutethemes.net/checkout/">Checkout</a></li> --}}
{{!--                                                           </ul> --}}
{{!--                                                       </li> --}}
{{!--                                                       <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-319 menu-item-has-children menu-item-currency-switcher"> --}}
{{!--                                                           <a href="#"></a> --}}
{{!--                                                       </li> --}}
{{!--                                                   </ul> --}}
{{!--                                               </div> --}}
{{!--                                           </div> --}}
{{!--                                           <div class="search-control full-height"> --}}
{{!--                                               <div class="inner"> --}}
{{!--                                                   <span class="close-search-control"></span> --}}
{{!--                                                   <form method="get" action="home.html" class="box-search kt_wcajs"> --}}
{{!--                                                       <h3 class="title">Search Now !</h3> --}}
{{!--                                                       <input type="hidden" name="post_type" value="product"> --}}
{{!--                                                       <div class="box-search-inner"> --}}
{{!--                                                           <input class="search-field kt_wcajs_input" value="" type="text" name="s" placeholder="Your search here..."></div> --}}
{{!--                                                       <div class="kt_wcajs_result"></div> --}}
{{!--                                                   </form> --}}
{{!--                                               </div> --}}
{{!--                                           </div> --}}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

	<!--================ End Header Menu Area =================-->

	{{{body}}}

  <!--================ Start footer Area  =================-->
	<!--<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no
								divided deep moved us lan Gathering thing us land years living.
							</p>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="/">Home</a></li>
								<li><a href="/products">Shop</a></li>
								<li><a href="/login">Login</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Gallery</h4>
							<ul class="list instafeed d-flex flex-wrap">
								<li><img src="/img/gallery/r1.jpg" alt=""></li>
								<li><img src="/img/gallery/r2.jpg" alt=""></li>
								<li><img src="/img/gallery/r3.jpg" alt=""></li>
								<li><img src="/img/gallery/r5.jpg" alt=""></li>
								<li><img src="/img/gallery/r7.jpg" alt=""></li>
								<li><img src="/img/gallery/r8.jpg" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p>123, Main Street, Your City</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									+123 456 7890 <br>
									+123 456 7890
								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									free@infoexample.com <br>
									www.infoexample.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>
				</div>
			</div>
		</div>
	</footer>-->
	  <!--<section id="footer">
        <div class="container" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="logo">
            <img src="./images/263514110_212970104327196_4588598670760073787_n.png" alt="" width="200px" height="80px">
            <p>© NG4VH BOOKS</p>
          </div>
          <div class="menu" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="500">
            <ul>
              <li><a href="#">MY ORDERS</a></li>
              <li><a href="#">COMPARE ITEMS</a></li>
              <li><a href="#">SHOPPING BAG</a></li>
              <li><a href="#">INFO</a></li>
            </ul>
          </div>
          <div class="icon">
            <ul class="social_icon" data-aos="zoom-out-left">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="last">
          <p>© DESIGN BY GROUP 4 - 2021</p>
      </section>-->
          <footer class="footer style1">
              <div class="container">
                  <div class="vc_row wpb_row vc_row-fluid vc_custom_1470186420787">
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-5">
                          <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1470213740637">
                                      <figure class="wpb_wrapper vc_figure">
                                          <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="138" height="27" src="images/logo.png" class="vc_single_image-img attachment-full" alt="" loading="lazy"></div>
                                      </figure>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element ">
                                      <div class="wpb_wrapper">
                                          <a href="/about_us">
                                              <p>ABOUT US</p>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-7">
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-12">
                          <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                  <div class="widget  kt_social  default">

                                      <a class="github" target="_blank" href="https://github.com/giangkeants/Online-E-commerce-Marketplace" title="Github"><i class="fab fa-github"></i><span>Github</span></a>
                                      <a class="trello" target="_blank" href="https://trello.com/b/ntGOGdTH/group04-revised"title="Trello"><i class="fab fa-trello"></i><span>Trello</span></a>
                                      <a class="googledrive" target="_blank" href="https://drive.google.com/drive/folders/1_iZ4aR9qKOZQDFw1ck-pjRz5hmnC3VA0" title="Google Drive"><i class="fab fa-google drive"></i><span>Google Drive</span></a>
                                      <a class="homepage" target="_blank" href="/" title="Home Page"><i class="fa fa-home"></i><span>Home Page</span></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </footer>
	<!--================ End footer Area  =================-->
</body>
</html>