<div style='background-image: none;' class=kt-page-heading>
	<div class=container>
		<div class=wapper style=height:200px>
			<div class=inner>
				<nav class=woocommerce-breadcrumb>
					<span class=trail-begin>
						<a href="/" title="Book Market">Home</a>
						<a href="/products" title="Products">Shop</a>
					</span>
					<span class="sep navigation-pipe"> </span>
					<span class=trail-end>Detail
					</span>
				</nav>
				<h1 class="page-title">Product detail</h1>
			</div>
		</div>
	</div>
</div>

<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-4">
				<div class="owl-carousel owl-theme s_Product_carousel">
					<div class="single-prd-item" style="width:400px; margin-bottom:20px; margin-right:20px">
						<img class="img-fluid" src="{{product.image_url}}" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<style>
						eeeeee {
							font-weight: normal
						}

						.swal-wide{
                              font-size: 1.4rem !important;
                        }
					</style>
					<h1 style="width: 900px">{{product.name}}</h1>
					<h2 style="width: 700px">Author:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <eeeeee>
							{{product.author}}</eeeeee>
					</h2>
					<h2 style="margin-top:-10px">Category: &nbsp;&nbsp;&nbsp;<eeeeee>{{product.category}}</eeeeee>
					</h2>
					<h2 style="margin-top:-10px">
						Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<eeeeee>
							{{product.price}}₫</eeeeee>
					</h2>
					
          			<iframe name="temp" style="display:none;"></iframe>
					<div class="product_count">
						<form id="add-to-cart" action="/api/cart/{{product._id}}" method="POST" target="temp">
							<label for="qty">Qty: </label>



							<input type="hidden" value="{{product._id}}" id="product_id" name="productId">
							<input type="number" name="qty" id="qty" value="1" title="Quantity:" class="input-text qty"
								style="width: 220px">

							<a href="#" class="button primary-btn" onclick="document.getElementById('add-to-cart').submit() ; notificationOnAdd(event)"
							 	style="margin-top: 20px;">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								ADD TO CART
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

							<script>
                            function notificationOnAdd(e) {
                                Swal.fire({
                                  title: 'Added to cart!',
                                  html: 'Check your <a href="/cart">cart</a> for more information.',
                                  icon: 'success',
                                  customClass: 'swal-wide'
                                });

                                e.preventDefault();
                            }
                            </script>


						</form>
					</div>
					<div class="card_area d-flex align-items-center">
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom:20px">
			<li class="nav-item">
				<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
					aria-selected="true"><b>Description</b></a>
			</li>
			{{!-- <li class="nav-item">
				<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false">Chi tiết cấu hình</a>
			</li> --}}
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
					aria-controls="contact" aria-selected="false"><b>Comments</b></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					aria-selected="false"><b>Ratings</b></a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
				<h4>Author</h4>
				<p style="max-width:800px; margin-top:-20px">{{product.author}}</p>
				<h4>Category</h4>
				<p style="max-width:800px; margin-top:-20px">{{product.category}}</p>
				<h4>Description</h4>
				<p style="max-width:800px; margin-top:-20px">{{product.description}}</p>
			</div>
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
				<div class="row">
					<div class="col-lg-6">
						<div id="comment-list" class="comment_list">
							{{#each results.comments}}
							<div class="review_item">
								<div class="media">
									{{#if this.user_avatar_url}}
									<img style="object-fit: cover; width: 75px; height: 75px; border-radius: 50%"
										class="avatar" src="{{this.user_avatar_url}}" alt="">
									{{else}}
									<img style="object-fit: cover; width: 75px; height: 75px; border-radius: 50%; float: left"
										class="avatar"
										src="https://cdn.discordapp.com/attachments/635399217963204615/931385624555049070/unknown.png"
										alt="">
									{{/if}}
									<div class="media-body">
										<h4 style="margin-bottom:5px; padding-top:15px; margin-left:10px">{{this.user_name}} <i style="font-size:12px; font-weight:lighter">({{this.createdAt}})</i></h4>
										<p style="margin-left: 10px">{{this.content}}</p>
									</div>
								</div>

							</div>
							{{/each}}
							{{#if results.comments}}
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center" id="comment-pagination">
									<li class="page-item" value="{{results.prev}}"><a id="prev-page-item"
                                                                                      class="page-link"
                                    >{{results.prev}}</a></li>
                                    <li class="page-item" value="{{results.curr}}"><a id="curr-page-item"
                                                                                      class="page-link"

                                    >{{results.curr}}</a></li>
                                    <li class="page-item" value="{{results.next}}"><a id="next-page-item"
                                                                                      class="page-link"
                                    >{{results.next}}</a></li>
								</ul>
							</nav>
							{{/if}}
							{{!-- <div class="review_item reply"> --}}
								{{!-- <div class="media"> --}}
									{{!-- <div class="d-flex"> --}}
										{{!-- <img src="img/product/review-2.png" alt=""> --}}
										{{!-- </div> --}}
									{{!-- <div class="media-body"> --}}
										{{!-- <h4>Blake Ruiz</h4> --}}
										{{!-- <h5>12th Feb, 2018 at 05:56 pm</h5> --}}
										{{!-- <a class="reply_btn" href="#">Reply</a> --}}
										{{!-- </div> --}}
									{{!-- </div> --}}
								{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									--}}
									{{!-- incididunt ut labore et --}}
									{{!-- dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco --}}
									{{!-- laboris nisi ut aliquip ex ea --}}
									{{!-- commodo</p> --}}
								{{!-- </div> --}}
							{{!-- <div class="review_item"> --}}
								{{!-- <div class="media"> --}}
									{{!-- <div class="d-flex"> --}}
										{{!-- <img src="img/product/review-3.png" alt=""> --}}
										{{!-- </div> --}}
									{{!-- <div class="media-body"> --}}
										{{!-- <h4>Blake Ruiz</h4> --}}
										{{!-- <h5>12th Feb, 2018 at 05:56 pm</h5> --}}
										{{!-- <a class="reply_btn" href="#">Reply</a> --}}
										{{!-- </div> --}}
									{{!-- </div> --}}
								{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									--}}
									{{!-- incididunt ut labore et --}}
									{{!-- dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco --}}
									{{!-- laboris nisi ut aliquip ex ea --}}
									{{!-- commodo</p> --}}
								{{!-- </div> --}}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="review_box" id = "review_box">
							<h4>Post a comment</h4>

							{{!-- <div class="col-md-12"> --}}
								{{!-- <div class="form-group"> --}}
									{{!-- <input type="text" class="form-control" id="name" name="name" --}} {{!--
										placeholder="Your Full name"> --}}
									{{!-- </div> --}}
								{{!-- </div> --}}
							{{!-- <div class="col-md-12"> --}}
								{{!-- <div class="form-group"> --}}
									{{!-- <input type="email" class="form-control" id="email" name="email" --}} {{!--
										placeholder="Email Address"> --}}
									{{!-- </div> --}}
								{{!-- </div> --}}
							{{!-- <div class="col-md-12"> --}}
								{{!-- <div class="form-group"> --}}
									{{!-- <input type="text" class="form-control" id="number" name="number" --}} {{!--
										placeholder="Phone Number"> --}}
									{{!-- </div> --}}
								{{!-- </div> --}}
							<form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
								novalidate="novalidate">
								<input type="hidden" value="{{product._id}}" id="product_id" name="productId">

								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" name="message" id="message" rows="1"
											placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12 text-right">
									<button type="submit-comment" class="btn primary-btn"id="submit-button">Submit Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row">
					<div class="col-lg-6">
						<div class="row total_rate">
							<div class="col-6">
								<div class="box_total">
									<h5>Overall</h5>
									<h4>4.0</h4>
									<h6>(03 Reviews)</h6>
								</div>
							</div>
							<div class="col-6">
								<div class="rating_list">
									<h3>Based on 3 Reviews</h3>
									<ul class="list">
										<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="review_list">
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="img/product/review-1.png" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="img/product/review-2.png" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="img/product/review-3.png" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="review_box">
							<h4>Add a Review</h4>
							<p>Your Rating:</p>
							<ul class="list">
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
							</ul>
							<p>Outstanding</p>
							<form action="#/" class="form-contact form-review mt-3">
								<div class="form-group">
									<input class="form-control" name="name" type="text" placeholder="Enter your name"
										required>
								</div>
								<div class="form-group">
									<input class="form-control" name="email" type="email"
										placeholder="Enter email address" required>
								</div>
								<div class="form-group">
									<input class="form-control" name="subject" type="text" placeholder="Enter Subject">
								</div>
								<div class="form-group">
									<textarea class="form-control different-control w-100" name="textarea" id="textarea"
										cols="30" rows="5" placeholder="Enter Message"></textarea>
								</div>
								<div class="form-group text-center text-md-right mt-3">
									<button type="submit" class="button button--active button-review">Submit
										Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--================End Product Description Area =================-->
<script id="comment-template" type="text/x-handlebars">
	<div class="review_item">
    	<div class="media">
    		{{#if user.avatar_url}}
    		<img style="object-fit: cover; width: 75px; height: 75px; border-radius: 50%"
    			class="avatar" src="{{user.avatar_url}}" alt="">
    		{{else}}
    		<img style="object-fit: cover; width: 75px; height: 75px; border-radius: 50%; float: left"
    			class="avatar"
    			src="https://cdn.discordapp.com/attachments/635399217963204615/931385624555049070/unknown.png"
    			alt="">
    		{{/if}}
    		<div class="media-body">
    			<h4 style="margin-bottom:5px; padding-top:15px; margin-left:10px">{{user.username}} <i style="font-size:12px; font-weight:lighter">(\{{createdAt}})</i></h4>
    			<p style="margin-left: 10px">\{{content}}</p>
    		</div>
    	</div>
    </div>
</script>

<script src="/js/ajaxHandler.js"></script>
<script src="/js/commentAjaxHandler.js"></script>