<body data-rsssl="1"
    class="archive post-type-archive post-type-archive-product theme-mazano woocommerce-shop woocommerce woocommerce-page woocommerce-js kt_used_header_6 Mazano-1.3.3 wpb-js-composer js-comp-ver-6.7.0 vc_responsive currency-usd">
    <div id="yith-wcwl-popup-message" style="display: none;">
        <div id="yith-wcwl-message"></div>
    </div>

    <!-- Dành cho hình ảnh về Quảng cáo hoặc ảnh Sách lớn đầu trang Trang chủ.-->
    <div class="kt-page-heading">
        <div class="container">
            <div class="wapper">
                <div class="inner">
                </div>
            </div>
        </div>
    </div>
    <!-- Dành cho hình ảnh về Quảng cáo hoặc ảnh Sách lớn đầu trang Trang chủ. (end)-->

    <!-- Phần hiển thị sách. -->
    <div class="main-container shop-page left-slidebar" style="margin-right: 290px">
        <div class="container">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div class="row">
                        <div class="main-content col-md-9 col-sm-8">
                            <h1 class="shop-page-title">Shop</h1>
                            <div class="woocommerce-notices-wrapper"></div>
                            <div class="shop-control ">
                                <div class="shop-control-left">
                                    <p class="woocommerce-result-count">
                                        Showing {{results.first}}–{{results.last}} of {{results.length}} results</p>
                                </div>
                                <div class="shop-control-right">
                                    <div class="view-more-wapper">
                                        <div class="show-grid-list">
                                            <a data-mode="grid" class="show-grid display-mode active"
                                                href="javascript:void(0)"><i class="flaticon-squares"></i></a>
                                            <a data-mode="list" class="show-list display-mode "
                                                href="javascript:void(0)"><i class="flaticon-interface"></i></a>
                                        </div>
                                    </div>
                                    <div class="orderby-wapper">
                                        <form class="woocommerce-ordering" method="get">
                                            <select name="orderby" class="orderby" aria-label="Shop order"
                                                style="display: flex;">
                                                <option value="menu_order" selected="selected">Default sorting</option>
                                                <option value="popularity">Sort by popularity</option>
                                                <option value="date">Sort by latest</option>
                                                <option value="price">Sort by price: low to high</option>
                                                <option value="price-desc">Sort by price: high to low</option>
                                            </select>
                                            <input type="hidden" name="paged" value="1">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Hiển thị thông tin sản phẩm. -->
                            <ul class="products auto-clear">
                                <!-- Sản phẩm 1.-->
                                {{#if results.products.0._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-1044 status-publish first instock product_cat-new-fashion product_tag-nice product_tag-style has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.0._id}}">

                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.0.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.0.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.0._id}}"
                                                class="button yith-wcqv-button" data-product_id="1044">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.0.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.0._id}}">{{results.products.0.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.0.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 1. (end)-->

                                {{#if results.products.1._id}}
                                <!-- Sản phẩm 2.-->
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-1102 status-publish instock product_cat-new-fashion product_tag-comfortable product_tag-creative has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">

                                                <a class="thumb-link" href="products/{{results.products.1._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.1.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.1.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.1._id}}"
                                                class="button yith-wcqv-button" data-product_id="1044">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.1.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.1._id}}">{{results.products.1.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.1.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 2. (end)-->

                                <!-- Sản phẩm 3.-->
                                {{#if results.products.2._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-1559 status-publish instock product_cat-new-accessories product_tag-activate product_tag-bags product_tag-dresses product_tag-houseware product_tag-sexy has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.2._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.2.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.2.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.2._id}}"
                                                class="button yith-wcqv-button" data-product_id="1044">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.2.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.2._id}}">{{results.products.2.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.2.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 3. (end)-->

                                <!-- Sản phẩm 4. -->
                                {{#if results.products.3._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-739 status-publish last instock product_cat-gift has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.3._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.3.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.3.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.3._id}}"
                                                class="button yith-wcqv-button" data-product_id="1044">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.3.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.3._id}}">{{results.products.3.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.3.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 4. (end)-->

                                <!-- Sản phẩm 5. -->
                                {{#if results.products.4._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-738 status-publish first instock product_cat-gift has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.4._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.4.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.4.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.4._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.4.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.4._id}}">{{results.products.4.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.4.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 5. (end)-->

                                <!-- Sản phẩm 6. -->
                                {{#if results.products.5._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-656 status-publish instock product_cat-chairs product_cat-decoration product_cat-furniture has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.5._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.5.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.5.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.5._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.5.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.5._id}}">{{results.products.5.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.5.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 6. (end)-->

                                <!-- Sản phẩm 7. -->
                                {{#if results.products.6._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-742 status-publish instock product_cat-gift has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.6._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.6.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.6.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.6._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.6.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.6._id}}">{{results.products.6.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.6.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 7. (end)-->

                                <!-- Sản phẩm 8. -->
                                {{#if results.products.7._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-83 status-publish last instock product_cat-fashion product_cat-jackets product_tag-dresses has-post-thumbnail downloadable taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.7._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.7.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.7.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.7._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.7.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.7._id}}">{{results.products.7.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.7.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 8. (end)-->

                                <!-- Sản phẩm 9. -->
                                {{#if results.products.8._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-655 status-publish first instock product_cat-flowers product_cat-gift product_tag-flowers has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.8._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.8.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.8.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.8._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.8.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.8._id}}">{{results.products.8.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.8.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 9. (end)-->


                                <!-- Sản phẩm 10. -->
                                {{#if results.products.9._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-1562 status-publish instock product_cat-new-accessories product_tag-dresses product_tag-flowers product_tag-houseware product_tag-nice product_tag-sexy has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.9._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.9.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.9.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.9._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.9.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.9._id}}">{{results.products.9.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.9.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 10. (end)-->

                                <!-- Sản phẩm 11. -->
                                {{#if results.products.10._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-1319 status-publish instock product_cat-fashion-accessories product_cat-men has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.10._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.10.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.10.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.10._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.10.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.10._id}}">{{results.products.10.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.10.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 11. (end)-->

                                <!-- Sản phẩm 12. -->
                                {{#if results.products.11._id}}
                                <li
                                    class="product-item col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ts-12 product type-product post-1134 status-publish last instock product_cat-new-fashion product_tag-clothing has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="status">
                                                <div class="inner">
                                                    <span class="featured-flash">Hot</span>
                                                </div>
                                            </div>

                                            <div class="thumb-inner has-back-image">
                                                <a class="thumb-link" href="products/{{results.products.11._id}}">
                                                    <span class="back-image"><img
                                                            style="object-fit: scale-down; width: 300px; height: 280px"
                                                            class="attachment-product-thumbnail"
                                                            src="{{results.products.11.image_url}}" alt=""></span>
                                                    <img style="object-fit: scale-down; width: 300px; height: 280px"
                                                        class="attachment-post-thumbnail wp-post-image"
                                                        src="{{results.products.11.image_url}}" alt="">
                                                </a>
                                            </div>
                                            <a href="products/{{results.products.11._id}}"
                                                class="button yith-wcqv-button">Quick
                                                View</a>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-cat">
                                                <a href="#" rel="tag">{{results.products.11.category}}</a>
                                            </div>
                                            <h4 class="product-name short"><a
                                                    href="products/{{results.products.11._id}}">{{results.products.11.name}}</a>
                                            </h4>
                                            <span class="price"><span class="woocs_price_code"
                                                    data-product-id="1044"><span
                                                        class="woocommerce-Price-amount amount"><bdi>{{results.products.11.price}}<span
                                                                class="woocommerce-Price-currencySymbol">đ</span></bdi>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {{/if}}
                                <!-- Sản phẩm 12. (end)-->
                            </ul>
                            <!-- Hiển thị thông tin sản phẩm. (end)-->
                            <!-- Chuyển trang tìm kiếm. -->

                            <script src="/js/pagination.js"></script>
                            <style>
                                .woocommerce-pagination a {
                                    color: black;
                                    float: left;
                                    padding: 8px 16px;
                                    text-decoration: none;
                                    transition: background-color .3s;
                                }

                                .woocommerce-pagination a:hover:not(.active) {
                                    background-color: #ddd;
                                }
                            </style>

                            <nav class="woocommerce-pagination">
                                <ul class="page-numbers">
                                    <li>
                                        <a style="margin-right: 5px;margin-left:5px" class="page-numbers"
                                            id="prev-page-item" href="?page={{results.prev}}">{{results.prev}}</a>
                                        <a style="margin-right: 5px;margin-left:5px" class="page-numbers"
                                            id="curr-page-item" href="?page={{results.curr}}">{{results.curr}}</a>
                                        <a style="margin-right: 5px;margin-left:5px" class="page-numbers"
                                            id="next-page-item" href="?page={{results.next}}">{{results.next}}</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- Chuyển trang tìm kiếm. (end)-->
                        </div>
                        <!-- Phần hiển thị Quảng cáo bên phải. -->
                        {{!-- <div class="sidebar col-md-3 col-sm-4"> --}}
                            {{!-- <img style="object-fit: contain; width: 235px; padding-left:50px" height="100" --}}
                                {{!-- src="../images/Apple_pencil.jpg" class="vc_single_image-img attachment-full"
                                alt="" --}} {{!-- loading="lazy"> --}}
                            {{!-- </div> --}}
                        <!-- Phần hiển thị Quảng cáo bên phải. (end)-->

                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- Phần hiển thị sách. (end)-->

    <!-- Còn lại là các file css, js khác.-->
    <div id="yith-quick-view-modal">
        <div class="yith-quick-view-overlay"></div>
        <div class="yith-wcqv-wrapper" style="left: 30px; top: 60px; width: 727px; height: 557px;">
            <div class="yith-wcqv-main">
                <div class="yith-wcqv-head">
                    <a href="#" id="yith-quick-view-close" class="yith-wcqv-close">X</a>
                </div>
                <div id="yith-quick-view-content" class="woocommerce single-product"></div>
            </div>
        </div>
    </div>
</body>